#**Python Workshop (3) - Data Structures**
All authorized workshop material cannot be redistributed without the prior consent of the instructors.

# 1. Lists:
Lists are a collection of iterable, mutable and ordered data. They can contain duplicate data.

In [ ]:
squares = [1, 4, 9, 16, 25]

squares[0]  # indexing returns the item
squares[-1]
squares[-3:]  # slicing returns a new list

# a shallow-copy of the list
squares[:]

#

[1, 4, 9, 16, 25]

To explain the difference of shallow, deep and invalid list copy

In [ ]:
squares = [1, 4, 9, 16, 25]
s=squares + [36, 49, 64, 81, 100]
print(s)

# replace some values
squares[2:5] = ['C', 'D', 'E']
print(squares)

# now remove them
squares[2:5] = []
squares

# clear the list by replacing all the elements with an empty list
squares[:] = []
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[1, 4, 'C', 'D', 'E']
b

Nested lists

In [ ]:
a = ['a', 'b', 'c']
n = [1, 2, 3]
x = [a, n] # or [['a', 'b', 'c'],n]
y = [1, 2, 'a', "hi", 4., 1+2j,]
print(x[0][1])

b

## 2. Commonly used list object methods

2.1. Append: Inserting an element to the end of list

In [ ]:
a = [8, 4, 6, 'a', "hi", 4., 1+2j, -2, -9.]
a.append(2)                       # inserting an element to the end of list
print(a)

[8, 4, 6, 'a', 'hi', 4.0, (1+2j), -2, -9.0, 2]

2.2. Extend: extend() method appends the elements of an iterable (e.g., a list, tuple, or string) to the end of the list.

In [ ]:
a = [8, 4, 6, 'a', "hi", 4., 1+2j, -2, -9.]
b = ["name1", "name2", "name3"]
a.extend(b)                         # modification is done in place
print(a)

[8, 4, 6, 'a', 'hi', 4.0, (1+2j), -2, -9.0, 'name1', 'name2', 'name3']

2.3. Insert: The insert() method is used to insert an element at a specific position in the list. In this case, the code a.insert(0, "hi") inserts the string "hi" at the beginning of the list a, that is, at index 0.

In [ ]:
a.insert(0, "hi")
print(a)

['hi', 'hi', 'hi', 4, 6, 'a', 'hi', 4.0, (1+2j), -2, -9.0, 'name1', 'name2', 'name3']

2.4. Remove: removing the first occurrence of a value

In [ ]:
a.remove('hi')                           # removing the first occurrence of a value
print(a)

['hi', 'hi', 4, 6, 'hi', 4.0, (1+2j), -2, -9.0, 'name1', 'name2', 'name3']

2.5. Count: to count the number of occurrences of a particular element in the list.

In [ ]:
a.count('hi')

1

2.6. Copy: To create a shallow copy of a list. The new list returned by copy() is a new object with the same elements as the original list, but modifying one list will not affect the other

In [ ]:
b= a.copy()
b

[8, 4, 6, 'a', 'hi', 4.0, (1+2j), -2, -9.0, 'name1', 'name2', 'name3']

2.7.  Clear: To remove all elements from a list.

In [ ]:
a.clear()
a

Exercise:
count the number of apple, tangerine.

```
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
```

In [ ]:
#code here:

3

2.8. Index: the positions of items in the list. Don't forget in Python, the first index is always 0.

In [ ]:
fruits.index('banana', 4)  # Find next banana starting at position 4

6

2.9. Reverse: to reverse the order of elements in a list.

In [ ]:
fruits.reverse()
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']

**3. List as queue**

In [ ]:
from collections import deque
queue = deque(["Eric", "John", "Michael"])
queue.append("Terry")           # Terry arrives
queue.append("Graham")          # Graham arrives
queue.popleft()                 # The first to arrive now leaves

queue.popleft()                 # The second to arrive now leaves

queue                           # Remaining queue in order of arrival

deque(['Michael', 'Terry', 'Graham'])

**In this step we need to explain looping to iterate the list!**

#4. List comprehension
A list comprehension is a concise way to create a new list in Python. It consists of square brackets containing an expression, followed by one or more for clauses, and optionally one or more if clauses.

The for clause(s) specify one or more iterators over which to loop, and the expression is evaluated once for each combination of the values of the iterators. The if clause(s) are used to filter the values based on a condition.

The result of the list comprehension is a new list object that is created by evaluating the expression for each combination of the values of the iterators that satisfy any if conditions.

In [ ]:
# list comprehensions
squares = []
for x in range(10):
    squares.append(x**2)
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
# question? Can I use x.upper()?

squares = [x.upper() for x in range(10)]

squares = list(map(lambda x: x**2, range(10)))

In [ ]:
[(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

4.1. Nested list comprehensions

In [ ]:
# nested list comprehensions
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
]
[[row[i] for row in matrix] for i in range(4)]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

**4.2. Transpose a matrix represented as a list of tuples**

Note that the * operator is used to unpack the elements of matrix as arguments to zip(), which is equivalent to calling zip(matrix[0], matrix[1], matrix[2]) in this case. The * operator is sometimes referred to as the "splat" operator, and it is used to unpack iterable objects such as lists, tuples, and sets into separate function arguments.

In [ ]:
list(zip(*matrix)) # zip conver to tuples

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

In [ ]:
transposed = []
for i in range(4):
    transposed.append([row[i] for row in matrix])

transposed

Another way to transpose:

In [ ]:
transposed = []
for i in range(4):
    # the following 3 lines implement the nested listcomp
    transposed_row = []
    for row in matrix:
        transposed_row.append(row[i])
    transposed.append(transposed_row)

transposed

4.3. Training on list comprehensions

In [ ]:
vec = [-4, -2, 0, 2, 4]
# create a new list with the values doubled
[x*2 for x in vec]

4.4. Filter the list to exclude negative numbers

In [ ]:
[x for x in vec if x >= 0]

# apply a function to all the elements
[abs(x) for x in vec]

4.5. Call a method on each element

In [ ]:
freshfruit = ['  banana', '  loganberry ', 'passion fruit  ']
[weapon.strip() for weapon in freshfruit]

['banana', 'loganberry', 'passion fruit']

4.6. Create a list of 2-tuples like (number, square)

In [ ]:
[(x, x**2) for x in range(6)]

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [ ]:
#Q???? why this code give error?

In [ ]:
# the tuple must be parenthesized, otherwise an error is raised
[x, x**2 for x in range(6)]
#   File "<stdin>", line 1
    # [x, x**2 for x in range(6)]
    #  ^^^^^^^

SyntaxError: ignored

In [ ]:
# SyntaxError: did you forget parentheses around the comprehension target?
# flatten a list using a listcomp with two 'for'
vec = [[1,2,3], [4,5,6], [7,8,9]]
[num for elem in vec for num in elem]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# 5. Tuples and Sequences

Tuples are similar to lists. But has a main difference. This collection also has iterable, ordered, and (can contain) repetitive data, just like lists.
But unlike lists, tuples are immutable.

In [ ]:
t = 12345, 54321, 'hello!'
t[0]

print(t, type(t))

(12345, 54321, 'hello!') <class 'tuple'>

In [ ]:
# q??
type(t)

tuple

5.1. Nested tuples

In [ ]:
# Tuples may be nested:
u = t, (1, 2, 3, 4, 5)
u

((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))

In [ ]:
#Q???
#Tuples are immutable:
t[0] = 88888

TypeError: ignored

In [ ]:
# but they can contain mutable objects:
v = ([1, 2, 3], [3, 2, 1])
v
v[0][1] = 5
print(v)

([1, 5, 3], [3, 2, 1])

In [ ]:
empty = ()
singleton = 'hello',    # <-- note trailing comma
len(empty)

print(len(singleton))

singleton

1

('hello',)

5.2. Tuple is actually an immutable sequence type

In [ ]:
a = [1, 2, 3, 5., 6.2, 3 + 2j]
b = ["Hey", 2, "3", 4.]
c = "OK howdy"

print(tuple(a), tuple(b), tuple(c))

(1, 2, 3, 5.0, 6.2, (3+2j)) ('Hey', 2, '3', 4.0) ('O', 'K', ' ', 'h', 'o', 'w', 'd', 'y')

# 6. sets

A set is iterable , an unordered collection with no duplicate elements. Basic uses include membership testing and eliminating duplicate entries.

In [ ]:
#q??? diference between set and tupple and list

In [ ]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket)                      # show that duplicates have been removed

{'banana', 'apple', 'pear', 'orange'}

In [ ]:
#q???
basket[1] # isn't  indexing

TypeError: ignored

6.1. Fast membership testing

In [ ]:
'orange' in basket                 # fast membership testing

'crabgrass' in basket

False

In [ ]:
# Demonstrate set operations on unique letters from two words

a = set('abracadabra')
b = set('alacazam')
a,b                                 # unique letters in a

({'a', 'b', 'c', 'd', 'r'}, {'a', 'c', 'l', 'm', 'z'})

In [ ]:
a - b                              # letters in a but not in b

a | b                              # letters in a or b or both

a & b                              # letters in both a and b

a ^ b                              # xor -->letters in a or b but not both

{'b', 'd', 'l', 'm', 'r', 'z'}

6.3. Set comprehensions

In [ ]:
# set comprehensions
a = {x for x in 'abracadabra' if x not in 'abc'}
a

{'d', 'r'}

# 7. Dictionaries

A dictionary is a collection of key-value pairs, where each key is associated with a value. Dictionaries are also known as associative arrays, maps, or hash tables in other programming languages.

In Python, dictionaries are defined using curly braces {} and key-value pairs separated by a colon ':'

In [ ]:
tel = {'name': 'masy', 'phone': 4139856}
#q??? application? when we ptefer use this kind of data structure?
tel

{'name': 'masy', 'phone': 4139856}

7.1. Example of application of dict in list and tuple:

We can store only the value and we can't have any information of the kind of value

In [ ]:
l=[25,26,59,21,36]
#nested dictionary
#nested {key:[]} {key:{key:{}}} [{key:[]}],{key:{}},{}] list / dic

school={'courses':{'python':{'scores':{'zahra':18,'mahdi':19,'ali':20,'sajad':20},
                             'classes':['Monday','thursday'],
                             'time':'11:30'},
                    'js':{'scores':{'zahra':18,'mahdi':19,'ali':20,'sajad':20},
                         'classes':['Monday','thursday'],
                         'time':'11:30'}}}

7.2. Accessing the dictionary values using keys as index

In [ ]:
d = {'name': 'masy', 'phone': 4139856}
print(d['name'])

# in list index is used to access to element
l=[25,26,59,21,36]

# changing the value of the key
d['name'] = 4127
d["name"] = [4127, 8292, 9212]
print(d)

masy
{'name': [4127, 8292, 9212], 'phone': 4139856}

In [ ]:
#q????

d["name"][0]

4127

7.3. But if the key doesn't exist in the dict, append it.

In [ ]:
d["hi"] = 0
print(d)

{'name': [4127, 8292, 9212], 'phone': 4139856, 'hi': 0}

7.4. Removing a key value pair from the dictionary

In [ ]:
# removing a key value pair from the dictionary
del d['phone']
print(d)

7.5. Nested dictionaries

In [ ]:
# nested dictionaries:
d["emergency"] = {"local_dep" : 111, "remote_dep" : 222}
print(d)
print(d["emergency"]["local_dep"])

{'name': [4127, 8292, 9212], 'phone': 4139856, 'hi': 0, 'emergency': {'local_dep': 111, 'remote_dep': 222}}
111

In [ ]:
list(d)

['emergency', 'hi', 'name', 'phone']

7.6. Sort base on **keys** every operation do by **key**

In [ ]:
sorted(d), 'name' in d

(['emergency', 'hi', 'name', 'phone'], True)

7.7. Convert some tuples to dictionary

In [ ]:
dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])

{'sape': 4139, 'guido': 4127, 'jack': 4098}

7.8. Dictionary Comprehension

In [ ]:
{x: x**2 for x in (2, 4, 6)}

{2: 4, 4: 16, 6: 36}

In [ ]:
dict(sape=4139, guido=4127, jack=4098)

7.9. *For* loop in dictionary objects

In [ ]:
for a, b in tel.items():
    print(f"{a} has value of: {b}")


# for i in tel.keys():
    # print(i)

# for j in tel.values():
    # print(j)

name has value of: masy
phone has value of: 4139856

In [ ]:
for i in sorted(tel.keys()):
    print(i.upper())

NAME
PHONE
{2: 'one', 6: 'three', 9: 'seven'}

7.10: Changing the key and value in dict

In [ ]:
a = {"one" : 2, "three" : 6, "seven" : 9}

b = {}
for k, v in a.items():
  b[v] = k
print(b)

{2: 'one', 6: 'three', 9: 'seven'}